body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 16px; /* Set a base font size */
}

h1 {
    color: #333;
    font-size: 5vmin;
}

.controls {
    margin-bottom: 2vmin;
}

#subcategory-selector {
    display: none;
}

#flashcard-container {
    perspective: 1000px;
    width: 60vw;
    height: 37.5vw; /* 60 * 0.625 */
    max-width: 80vh;
    max-height: 50vh; /* 80 * 0.625 */
}

#flashcard {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

#flashcard.flipped {
    transform: rotateY(180deg);
}

.card-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2); /* 4px 8px */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 0.625rem; /* 10px */
    border: 1px solid #ccc;
}

.card-front {
    background-color: #f5f5f5;
    color: #333;
}

.card-front img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.625rem; /* 10px */
}

.card-back {
    background-color: #f5f5f5;
    color: #333;
    transform: rotateY(180deg);
    padding: 2vmin;
    box-sizing: border-box;
    font-size: 2.5vmin;
}

.card-back h3 {
    font-size: 4vmin;
    margin-top: 0;
    margin-bottom: 2vmin;
}

.card-back table {
    width: 100%;
    border-collapse: collapse;
}

.card-back td {
    padding: 0.5vmin;
    text-align: left;
}

#next-button {
    margin-top: 2vmin;
    padding: 1.5vmin 3vmin;
    font-size: 2.5vmin;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0.5vmin;
}
